textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* 
===============================
    Dashboard Views
===============================
*/
.dashboard-section {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.dashboard-header {
  padding: 10px 5%;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: #7699e4;
  /* overflow: hidden; */
}
/* 
===============================
    Dashboard Sidebar
===============================
*/

.dashboard-sidebar {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #f5f5f5; */
}

.dashboard-sidebar-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* background-color: #f5f5f5; */
}

.sidebar-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* background-color: #f5f5f5; */
}
/* 
.accordion {
  background-color: transparent !important;
}

.accordion-item {
  background-color: transparent !important;
  border: transparent !important;
}

.accordion-button {
  background-color: transparent !important;
  border: transparent !important;
  padding: 1rem 0.5rem !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  outline: 0 !important;
} */

/* w3schools */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* accordion */

ul {
  list-style-type: none;
}

a {
  color: #b63b4d;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/

h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

h1 a {
  color: #c12c42;
  font-size: 16px;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

/* .accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
} */
.accordion li span {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* .accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
} */

.accordion li span.icon-chevrondown {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #b63b4d;
}

/* .accordion li.open i {
  color: #b63b4d;
} */
.accordion li.open span {
  color: #b63b4d;
}

/* .accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
} */
.accordion li.open span.icon-chevrondown {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
.submenu.collapsed li {
  /* -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s; */
  height: 0;
  overflow: hidden;
}

.submenu.collapsed {
  /* height: 0; */
  background: #444359;
  font-size: 14px;
}

.submenu.collapsed a {
  padding: 12px;
  padding-left: 42px;
}

/* ===========================
submenu open with transition 
==============================*/

.submenu {
  /* display: block; */
  background: #444359;
  font-size: 14px;
  height: auto;
}

/* submenu items */
.submenu li {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 40px;
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
}

.submenu a:hover {
  background: #b63b4d !important;
  color: #fff;
}
